@charset "UTF-8";

body{
    background-color: #9a9bf7;
    font-family: Arial, Helvetica, sans-serif;
}

.html{
    background-color: #e3d0d0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.css{
    background-color: #e3d0d0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1#Principal{
    color: aliceblue;
    background-color: rgb(77, 58, 145);
    text-align: center;
}

h1.assunto{
    text-align: center;
    background-color: #fbf9ff46;
}

h2.basico{
    color: rgb(76, 245, 76);
    background-color: rgb(83, 59, 187);
    width: 250px;
    text-align: center;
    border-style: double;
}

h2.intermediario{
    color: rgb(241, 141, 59);
    background-color: rgb(83, 59, 187);
    width: 250px;
    text-align: center;
    border-style: double;
}

h2.avancado{
    color: rgb(255, 4, 4);
    background-color: rgb(83, 59, 187);
    width: 250px;
    text-align: center;
    border-style: double;
}

p{
    background-color: rgba(245, 245, 245, 0.267);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}