@charset "UTF-8";
/*
    em HTML é id    = em CSS é '#'
    em HTML é class = em CSS é '.'
*/

body{
    background-color: #9a9bf7;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(233, 233, 245);
}
h1#Principal{
    text-align: center;
    background-image: linear-gradient(to bottom, #16448a, #7424c0);
}
h2{
    color: rgb(79, 103, 240);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 11, 75);
}